.k-i-expand, .k-plus, .k-plus-disabled{
	background-position: 0 -271px;
}
.k-i-collapse, .k-minus, .k-minus-disabled{
	background-position: 0 -287px;
}
.k-checkbox-label:before{
	background-color: transparent;
}
.k-loading, .k-state-hover .k-loading ,.k-state-hover:hover{
    /*background-image: url(css/Default/loading.gif);*/
    background-image: none !important;
    background-color: #3D3D6F !important;
    color: #FFFFFF !important;
    border-color: #3D3D6F !important;
}
.k-state-focused{
	border: none;
	box-shadow: none;
}
.k-state-selected{
	color: #fff;
    background-color: #38507E ;
    border-color: #38507E ;
    box-shadow: 0 0 3px 1px #38507E inset;
}
.k-checkbox-label:before {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}
.k-checkbox-label:active:before,.k-checkbox:focus+.k-checkbox-label:before,.k-checkbox:checked+.k-checkbox-label:before {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

#treeview{
	font-size: 1.6rem;
	color: rgba(255,255,255,0.5);
}
#treeview>ul{
	margin: 5% 5%;
	font-size: 1.4rem;
}
.k-treeview .k-in{
	font-size: 16px;
	line-height: 30px;	
}
.k-state-hover{
	cursor: pointer;
	background-image: none;
	background-color: #3D3D6F;
}
.k-checkbox:indeterminate+.k-checkbox-label:after{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.k-checkbox-label{
	padding-left: 1.4em;
}
.k-minus,.k-plus{
	display: none !important;
}
.k-checkbox-wrapper>input{
	font: 16px !important;
}

.k-in-hover{
	background-image: none !important;
	background-color: #3D3D6F !important;
	color: #fff !important;
}
.k-state-selected{
	box-shadow: none !important;
	background-color: #3D3D6F !important;
	background-image: none !important;
}
.k-state-focused{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}