	  	body {
		    min-width: 1000px;
		    min-height: 100%;
		    font: 12px/1.2 "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei";
		    color: #FFF;
		    background-color: #25254D;
		    position: relative;
		    -webkit-text-size-adjust: none;
		}
	  	.section1{
	  		height: 100%;
	  		overflow: hidden;
	  	}
	  	.navbar{
	  		position: relative;
	  		float: left;
	  		width: 44%;
	  		height: 93%;
	  		background-color: #38507e;
	  		overflow: hidden;
	  	}
	  	.content{
	  		position: relative;
	  		float: right;
	  		width: 56%;
	  		height: 93%;
	  		background-color: #FFFFFF;
	  	}
  		.k-i-expand, .k-plus, .k-plus-disabled{
  			background-position: 0 -271px;
  		}
  		.k-i-collapse, .k-minus, .k-minus-disabled{
  			background-position: 0 -287px;
  		}
  		.k-checkbox-label:before{
  			background-color: transparent;
  		}
  		.k-loading, .k-state-hover .k-loading {
		    background-image: url(css/Default/loading.gif);
		    background-position: 50% 50%;
		}
		.k-state-focused{
			border: none;
			box-shadow: none;
		}
		.k-state-selected{
			color: #fff;
		    background-color: #38507E ;
		    border-color: #38507E ;
		    box-shadow: 0 0 3px 1px #38507E inset;
		}
		.k-checkbox-label:before {
		    width: 1rem;
		    height: 1rem;
		    font-size: 1rem;
		    line-height: 1rem;
		}
		.k-checkbox-label:active:before,.k-checkbox:focus+.k-checkbox-label:before,.k-checkbox:checked+.k-checkbox-label:before {
		    background-color: transparent;
		    border-color: #FFFFFF;
		    color: #FFFFFF;
		}

		#treeview{
			/*position: absolute;
			width: 35%;
			left: 0;
			top: 4rem;*/
			font-size: 1.6rem;
			color: rgba(255,255,255,0.5);
		}
		#treeview>ul{
			margin: 5% 5%;
			font-size: 1.4rem;
		}
		.k-treeview .k-in{
			font-size: 16px;
    		line-height: 30px;	
		}
		.tagsCollection{
			position: absolute;
			right: 0;
			background-color: #5e749d;
			color: #FFFFFF;
			width: 65%;
			height: 100%;
			top: 4rem;
		}
		
		.k-state-hover,.navLi:hover{
			cursor: pointer;
		}
		.buttonGrop{
			position: absolute;
			right: 0;
			bottom: 7rem;
			width: 30rem;
			min-height: 4rem;
			margin: 2%;
			font-size: 1.4rem;
			line-height: 4rem;
		}
		.tagsCollectionWrap{
			width: 90%;
			height: 77%;
			overflow-x: hidden;
			overflow-y: auto;
			margin: 1rem auto;
		}
		.tagItem{
			float: left;
			min-width: 16rem;
			padding: .5rem .3rem;
			line-height: 1.7rem;
			text-align: left;
		}
		.checkbox-checkAll,.checkItem{
			cursor: pointer;
			position: relative;
			padding-left: 2.2rem;
		}
		.white{
			color: #FFFFFF;
		}
		.darkGrey{
			color: #3C3C3C;
		}
		.checkbox-checkAll:before,.checkItem:before {
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    border-width: 1px;
		    border-style: solid;
		    width: 1em;
		    height: 1em;
		    font-size: 1em;
		    line-height: 1em;
		    text-align: center;
		    background-color: transparent;
		    border-color: #c5c5c5;
    		border-radius: .3rem;
		}
		.checkbox-checked:before{
			content: "\2713" !important;
		}
		
		#addInCar,.section1 span.reset{
			float: right;
			padding: 0 1.5rem;
		    background-color: rgba(255,255,255,.8);
		    border: 1px solid #38507e;
		    border-radius: .3rem;
		    box-shadow: 0 0 .4rem #2E2E2E inset;
		    color: rgb(50,80,126);
		    margin-left: 1rem;
		}
		.section1 span.reset{
		    background: rgba(234, 77, 106, 0.76);
		    color: #FFFFFF;
		}
		#addInCar:hover{
			cursor: pointer;
			background-color: #FFFFFF;
			box-shadow:  0 0 .6rem #000 inset;
		}
		.section1 span.reset:hover{
			cursor: pointer;
			background-color: rgba(234, 77, 106, 1);
			box-shadow:  0 0 .6rem #000 inset;
		}
		.topbar{
			height: 4rem;
			width: 100%;
			background-color: #b2c0da;
			position: absolute;
			z-index: 2;
			display: table;
		}
		.header,.footer{
/*			height: 7%;*/
			z-index: 9;
		}
		.header{
			background-color: #17253e;
		}
		.footer{
			/*position: fixed;
			bottom: 0;*/
			clear: both;
			background-color: #ededed;
			text-align: center;
			display: table;
			width: 100%;
			border-top: 1px solid #ccc;
		}
		.footer>span{
			font-family:arial;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
		}
		.shadowIn{
			box-shadow: 0 0 .3rem #313131 inset;
		}
		.wrapIn{
			display: table-cell;
			vertical-align: middle;
			padding: 0 3rem;
		}
		.wrapIn>span{
			margin: 0 .5rem;
		}
		.shoppingTitle{
			color: #3c3c3c;
		    height: 7rem;
		    text-align: center;
		    width: 100%;
		    display: table;
		    font-size: 2.4rem;
		}
		#stitle{
			display: table-cell;
			vertical-align: middle;
		}
		.shoppingCart{
			width: 91%;
			height: 75%;
			margin: 0 auto;
			font-size: 1.6rem;
			overflow-y: auto;
		}
		/*.shoppingBag{
			overflow-x: hidden;
		}*/
		.shoppingBag .contentofBag{
			overflow-x: hidden;
		}
		.TagInBag{
			position: relative;
			width: 100%;
			font-size: 1.6rem;
			background-color: #ededed;
			padding: 1rem;
    		border: 1px solid #ddd;
		}
		.TagInBag i{
			position: absolute;
			right: 3rem;
			cursor: pointer;
		}
		.shoppingBag .checkbox-checked:before{
			color: #ACACAC;
		}
		.shoppingBtnGroup{
			position: relative;
			margin: .8rem;
		}
		.shoppingBtnGroup .btn-and,.shoppingBtnGroup .checkAllInBag{
			display: inline-block;
			padding: .7rem 2.4rem;
		}
		.btn-and{
			display: inline-block;
		    position: absolute;
		    right: 1rem;
		    background-color: #38507E;
		    color: white;
		    border-radius: .3rem;
		}
		.frenchGrey{
			background-color: #ededed;
		}
		.red{
			background-color: #ea4d6a;
		}
		.btnGroupofContent{
			/*position: fixed;*/
			position: absolute;
		    bottom: 4rem;
		    right: 5rem;
			font-size: 1.6rem;
			width: 90%;
		}
		.btnGroupofContent div{
			display: inline-block;
			color: #2a509a;
			cursor: pointer;
			margin: 0 1rem;
			float: left;
		}
		.btnGroupofContent>.back{
			width: 20rem;
			display: inline-block;
		}
		.btnGroupofContent>.back,.btnGroupofContent .del,.btnGroupofContent .clear,.btnGroupofContent #nextStepBtn{
			padding: 1rem 3.5rem;
			text-align: center;
			border-radius: .3rem;
		}
		.btnGroupofContent>.back{
			text-align: left;
		}
		.titleOfBag{
			padding: 0.7rem;
    		border: 1px solid #ddd;
		}
		.titleOfBag span{
			margin: 0 3rem;
			font-size: 1.2rem;
		}
		.currentBag{
			color: #F58648;
		}
		.othersBag{
			color: #999999;
		}
		.searchWrap{
			display: table-cell;
			vertical-align: middle;
		}
		.commonWrap,.matchWrap1,.matchWrap2{
			overflow-x: hidden;
		}
		#messageofTagLoad{
			text-align: center;
			height: 1.4rem;
		}
		/*section2*/
		.section2{
			width: 96%;
			margin: 2.5rem auto;
		}
		.section2 .container dl,.section2 .selected dl,.section2 .dimension dl{
			line-height: 3rem;
		    border-bottom: 1px solid #ccc;
		    /*overflow: hidden;*/
			zoom:1;
		   	background-color: #FFFFFF;
		}
		.section2 .dimension dl:after,.section2 .container dl:after,.section2 .selected dl:after{
			display:block;
			clear:both;
			content:"";
			visibility:hidden;
			height:0
		} 
		.section2 .container dl dt,.section2 .selected dl dt,.section2 .dimension dl dt{
		    /*margin-left: 4rem;*/
		    width: 11rem;
		    float: left;
		    position: relative;
		    margin: 1rem 4rem;
		}
		.section2 .container dl dd,.section2 .selected dl dd,.section2 .dimension dl dd{
			float: left;
		/*	margin: 1rem;*/
			max-width: 80%;
		}
		.section2 .container dl dd span,.section2 .selected dl dd span{
		    display: inline-block;
		    min-width: 5rem;
		    padding: 0 .8rem;
		    cursor: pointer;
		    text-align: center;
		    border: 1px solid transparent;
		    margin: 1rem;
		}
		.section2 .container dl dd span:hover{
		    border: 1px solid #f00;
		}
		.section2 .selected,.section2 .dimension{
			margin-top: 1rem;
		}
		.section2 .selected dl dt span{
			cursor: pointer;
		    border-radius: 3.5px;
		    background-color: #ea4d6a;
		    padding: 0 1.5rem;
		    float: right;
		    color: #fff;
		}
		.section2 .selected dl dd span{
			border: 1px solid #f00; 
			padding: 0 1.5rem;
		}
		.section2 .selected dl dd span:after{
			content: "\2715";
		    position: relative;
		    left: .8rem;
		}
		.selectedCondition{
			border: 1px solid #f00 !important;
		}
		.section3 .result1{
			position: relative;
		    width: 96%;
    		margin: 2.5rem auto 0 auto;	
    		line-height: 3rem;
    		background-color: #38507E;
		}
		.section3 #count,.section3 #resultBtngroup{
			display: inline-block;
    		margin: .8rem 4rem;
    		color: #FFFFFF;
		}
		.section3 #count span,.section3 #resultBtngroup span{
			display: inline-block;
			font-size: 1.8rem;
		}
		.section3 #count span{
			/*解决line-height造成空白占位节点的bug*/
			vertical-align: middle;
		}
		.section3 #count span.countContent{
			font-size: 3rem;
		}
		.section3 #resultBtngroup{
			position: absolute;
			right: 0;
		}
		.section3 #resultBtngroup>span{
			padding: 0 2rem;
    		margin: 0px .5rem;
    		background: #FFFFFF;
    		color: #17253E;
    		border-radius: .3rem;
		}
		.section3 .result2{
			position: relative;
		    width: 96%;
		    margin: 2.5rem auto 5rem auto;
		    background-color: #FFFFFF;
		}
		.section3 .result2 #mychart_line{
			height: 100%
		}
		.section3 #mychat_line_legend{  
		    top: 5rem;
		    position: absolute;
		    right: 2.44%;
		    height: 80%;
		    min-width: 9rem;
		    overflow-x: hidden;
		    overflow-y: auto;
		}
		.section3 #mychat_line_legend span{
			position: relative;
		    padding-left: 2.2rem;
		    cursor: pointer;
		    display: block;
		    margin: 2rem;
		}
		.section3 #mychat_line_legend>span:before{
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    border-width: 1px;
		    border-style: solid;
		    width: 1em;
		    height: 1em;
		    font-size: 1em;
		    line-height: 1em;
		    text-align: center;
		    background-color: transparent;
		    border-radius: 3px;
		}
		.section2 .submitFilters{
			margin-top: 1rem;
			line-height: 4rem;
			overflow: hidden;
			position: relative;
		}
		.section2 .submitFilters #submitBtn,.section2 .submitFilters .prevStep{
			/*margin: 0 auto;*/
			float: left;
		    width: 14rem;
		    text-align: center;
		    font-size: 1.8rem;
		    color: #fff;
		    border-radius: .5rem;
		    cursor: pointer;
		}
		.section2 .submitFilters #submitBtn{
			position: absolute;
			right: 30%;
		}
		.section2 .submitFilters .prevStep{
			position: relative;
			left: 30%;
		}
		.blue{
			background-color: #599AB9;
		}
		.section1 .header{
			/*position: fixed;
			top: 0;*/
			display: table;
			width: 100%;
		    font-size: 3rem;
		    color: #fff;
		}
		.section1 .header>span{
			display: table-cell;
			vertical-align: middle;
			padding-left: 3rem;
		}
		.section1 .btnswrap{
			float: left;
		}
		.section2{
			display: none;
		}
		.section3{
			display: none;
		}
		.k-checkbox:indeterminate+.k-checkbox-label:after{
			background-color: #FFFFFF;
			border-color: #FFFFFF;
		}
		.k-checkbox-label{
			padding-left: 1.4em;
		}
		#startAgain{
		    line-height: 4rem;
		    margin: 0 auto 2rem auto;
		    width: 14rem;
		    text-align: center;
		    font-size: 1.8rem;
		    color: #fff;
		    border-radius: .5rem;
		    cursor: pointer;
		}
		.section2 ul,li{list-style:none;padding:0;margin:0;} 
		.section2 #dropdown{margin:0 auto;} 
		.section2 .input_select{
			/*line-height:24px; 
			padding-left:4px; 
			padding-right:30px; */
			/*border:1px solid #a9c9e2;*/ 
			background:#e8f5fe url(arrow.gif) no-repeat rightright 4px; 
			color:#807a62; 
			display: inline-block;
    		min-width: 5rem;
   			/*padding: 0 1.8rem;*/
    		cursor: pointer;
    		text-align: left;
			} 
		.section2 #dropdown ul{z-index: 2; width:184px; background:#e8f5fe; margin-top:2px; border:1px solid #a9c9e2; position:absolute; display:none} 
		.section2 #dropdown ul li{height:24px; line-height:24px; text-indent:10px} 
		/*.section2 #dropdown ul li a{display:block; height:24px; color:#807a62; text-decoration:none}*/ 
		.section2 #dropdown ul li:hover{background:#c6dbfc; color:#369} 
		#result{margin-top:10px;text-align:center} 
		.section2 #dropdown .input_select:after{
			content: "\00BB";
		    position: relative;
		    left: .8rem;
		}
		#dimensionItem>li{
			display: inline-block;
		    min-width: 5rem;
		    padding: 0 .8rem;
		    cursor: pointer;
		    text-align: center;
		    border: 1px solid transparent;
		    margin: 1rem;
		}
		.section3 #resultBtngroup>span{
			cursor: pointer;
		}
		
		
		
		.k-minus,.k-plus{
			display: none;
		}
		.k-checkbox-wrapper>input{
			font: 16px !important;
		}
		#treeview .k-sprite {
			background-image: url("/img/tag.png");
			margin-top: 6px;
		    float: left;
		    height: 17px;
		    width: 17px;
		}
		.icon01{
			background-position: 0 -31px;
		}
		.icon02{
			background-position: -17px -31px;
		}
		.icon03{
			background-position: -34px -31px;
		}
		.icon04{
			background-position: -51px -31px;
		}
		.icon05{
			background-position: -68px -31px;
		}
		.icon06{
			background-position: 0 -75px;
		}
		.icon07{
			background-position: -17px -75px;
		}
		.icon08{
			background-position: -34px -75px;
		}
		.icon09{
			background-position: -51px -75px;
		}
		.icon10{
			background-position: -68px -75px;
		}
