/*.table-cell:before{
    content: "";
    position: relative;
    top: 3px;
    left: -8px;
    border-width: 1px;
    border-style: solid;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    background-color: transparent;
    border-color: #797878;
    border-radius: .3rem;
    display: inline-block;
}
thead th:nth-of-type(1):before{
	content: "";
    position: relative;
    top: 3px;
    left: -8px;
    border-width: 1px;
    border-style: solid;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    background-color: transparent;
    border-color: #797878;
    border-radius: .3rem;
    display: inline-block;
}*/
